<!-- blog/templates/blog/post_detail.html -->

{% extends "blog/base.html" %}
{% block page_title %}{{ post.title }}{% endblock %}
{% block main %}
<article id="post-detail-article">
  <h1>{{ post.title }}</h1>
   <span class="published"><time>Published {{ post.published|timesince }} ago</time></span><br/>
   <span class="author">by {{ post.author.get_full_name }}</span>
   <br/>
   {% for topics in post.topics.all %}
      {%spaceless%}
      <span class="topic-link"><a href="{{ topics.get_absolute_url }}">{{ topics.name }}</a>{%if not forloop.last%},{%endif%}</span>
      {%endspaceless%}
   {% endfor %}
   {% if post.banner %}
    <br /><br />
    <img src="{{ post.banner.url }}" width="90%" alt="Banner image">
   {% endif %}
   <section class="content">{{ post.content|safe|linebreaks }}</section>

</article>

<section class="comments">
   {% if comments %}
     <h3>Latest comments</h3>
     {% for comment in comments %}
       <div class="comment">
         <span class="by-line">By {{ comment.name }} | <time>{{ comment.created }}</time></span>
         {{ comment.text|linebreaks }}
       </div>
     {% endfor %}
   {% endif %}
 
   <h3>Leave a comment</h3>
   {# Alias the variable for the included template #}
   {% with form=comment_form %}
     {% include "blog/comment_form.html" %}
   {% endwith %}
 </section>
{% endblock %}
